.footer{
    text-align:center;
    background-color: black;
    height:5vh;
    width: 100vw;
    margin: 0;
}
h3{
    color:white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    // margin:;
}
